@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes; // global

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.section {
  padding-left: $grid-gutter/4;
  padding-right: $grid-gutter/4;
}

a {
  text-decoration: underline;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}
// reset
// header

.header {
  position: relative;
}
// logo

.logo {
  position: absolute;
  top: rem-calc(10);
}
// Nav

.nav-bar {
  position: relative;
}
//menu-button

.menu-button {
  background: $green;
  color: $white;
  padding: $grid-gutter/4;

  .symbol {
    width: rem-calc(25);
    height: rem-calc(25);
  }
}
@include breakpoint(large) {
  .menu-button {
    display: none;
  }
}
// menu

.main-menu {
  list-style: none;
  margin: 0;

  li {
    border-left: rem-calc(55) solid;
  }

  .orange {
    border-color: $orange;

    &:focus,
    &:hover {
      background: $hover-orange;
    }
  }

  .rosa {
    border-color: $rosa;

    &:focus,
    &:hover {
      background: $hover-rosa;
    }
  }

  .blue {
    border-color: $blue;

    &:focus,
    &:hover {
      background: $hover-blue;
    }
  }

  .olive {
    border-color: $olive;

    &:focus,
    &:hover {
      background: $hover-olive;
    }
  }

  .red {
    border-color: $red;

    &:focus,
    &:hover {
      background: $hover-red;
    }
  }

  .turkis {
    border-color: $turkis;

    &:focus,
    &:hover {
      background: $hover-turkis;
    }
  }

  a {
    display: block;
    padding: $grid-gutter/6 $grid-gutter/4;
    font-size: rem-calc(21);
    text-decoration: none;
  }
}
// languages

.lang-menu {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 0 $grid-gutter/5 0 $grid-gutter/6;
      margin-right: $grid-gutter/4;
      margin-top: $grid-gutter/6;
      text-decoration: none;

      &:focus,
      &:hover {
        background: $turkis;
      }
    }
  }
}
// t-boxes

.t-boxes {
  margin-top: $grid-gutter*2;
}

.t-box {
  margin-bottom: $grid-gutter/2;
}
// orange-box

.orange-box {
  background: $orange;
  padding: $grid-gutter/2;

  a,
  h2 {
    text-decoration: none;
    color: $white;
  }
}
// school, team

.head {
  position: relative;

  h2 {
    color: $white;
    position: absolute;
    top: rem-calc(45);
    left: rem-calc(30);
    font-size: rem-calc(80);
  }
}

// anmeldung, kontakt
.head-ttl {
  position: relative;
}
