@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes; // global

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}

.home {
  // background: url("../img/home.jpg") center/contain fixed no-repeat;
  background-size: cover;
}
//Layout

.outer {
  max-width: 100%;
  overflow: hidden;
}

.section {
  max-width: $global-width;
  margin: 0 auto;
}

.page-wrap {
  max-width: rem-calc(1024);
  margin: 0 auto;
}
// reset
// Menu Button

.menu-button {
  cursor: pointer;
  background: $green;
  width: $grid-column-gutter*2;
  height: $grid-column-gutter*2;
  margin-right: $grid-column-gutter / 4;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        opacity: 0;
        top: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  display: inline-block;
  width: rem-calc(75);
  position: relative;
  transition: transform 0.25s;
}

.menu-button-inner {
  display: block;
  margin-top: rem-calc(-7);
  margin-left: rem-calc(10);
  top: 100%;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    background-color: $white;
    border-radius: rem-calc(2);
    width: rem-calc(35);
    height: rem-calc(3);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    right: rem-calc(0);
    top: rem-calc(11);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.menu-button-label {
  color: $green;
  display: block;
  margin-top: -$grid-column-gutter / 3.75;
}
@include breakpoint (large) {
  .menu-button {
    display: none;
  }
}
// header

.header {
  position: relative;
}
// logo

.logo {
  position: absolute;
  top: rem-calc(20);
  left: rem-calc(20);
}

.start-img {
  width: rem-calc(1920);
}
// Nav

.nav-bar {
  position: relative;
}
// menu

.main-menu {
  list-style: none;
  margin: 0 auto;
  max-width: 80rem;

  li {
    border-left: rem-calc(60) solid;
    @include breakpoint (large) {
      border-left: none;
      border-top: rem-calc(20) solid;
      float: left;
      width: 13%;
      text-align: center;
    }
  }

  .orange {
    border-color: $orange;

    &:focus,
    &:hover {
      background: $hover-orange;
    }
  }

  .rosa {
    border-color: $rosa;

    &:focus,
    &:hover {
      background: $hover-rosa;
    }
  }

  .blue {
    border-color: $blue;

    &:focus,
    &:hover {
      background: $hover-blue;
    }
  }

  .olive {
    border-color: $olive;

    &:focus,
    &:hover {
      background: $hover-olive;
    }
  }

  .red {
    border-color: $red;

    &:focus,
    &:hover {
      background: $hover-red;
    }
  }

  .turkis {
    border-color: $turkis;

    &:focus,
    &:hover {
      background: $hover-turkis;
    }
  }

  a {
    display: block;
    padding: $grid-gutter/6 $grid-gutter/4;
    text-decoration: none;
  }
}
// languages

.lang-menu {
  position: absolute;
  top: $grid-gutter/4;
  right: 0;
  list-style-type: none;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 0 $grid-gutter/5 0 $grid-gutter/6;
      margin-right: $grid-gutter/4;
      margin-top: $grid-gutter/6;
      text-decoration: none;

      &:focus,
      &:hover {
        background: $turkis;
      }
    }
  }
}
// symbol
// t-boxes
@include breakpoint(large) {
  .wp-block-columns {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    margin-top: $grid-gutter/2;
    @include breakpoint (large) {
      margin-top: $grid-gutter*2;
    }

    .wp-block-columns {
      margin-left: -$grid-column-gutter /6;
      margin-right: -$grid-column-gutter /6;
    }

    .wp-block-column {
      padding: $grid-gutter/2 $grid-column-gutter /4;

      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 50%;
      }

      &:nth-child(4) {
        width: 50%;
      }

      &:nth-child(5) {
        width: 50%;
      }

      &:nth-child(6) {
        width: 50%;
      }
    }
  }
}

.t-box {
  margin-bottom: $grid-gutter/2;
  padding-left: $grid-gutter/4;
  padding-right: $grid-gutter/4;
}
// orange-box

.orange-box {
  background: $orange;
  margin-top: $grid-column-gutter;
  margin-bottom: $grid-gutter/2;
  padding-bottom: $grid-gutter/6;

  a {
    display: block;
    text-decoration: none;
    color: $white;
  }

  h2 {
    font-size: rem-calc(60);
    color: $white;
  }

  p {
    margin-top: $grid-gutter/3;
  }
}
// school, team

.head {
  position: relative;

  img {
    width: 100%;
  }

  h2 {
    color: $white;
    position: absolute;
    bottom: rem-calc(0);
    left: rem-calc(80);
    font-size: rem-calc(60);
  }
}
// anmeldung, kontakt

.head-ttl {
  position: relative;

  img {
    width: 100%;
  }

  h2 {
    position: absolute;
    color: $white;
    left: rem-calc(30);
    bottom: rem-calc(40);
    font-size: rem-calc(60);
  }
}

.subtitle {
  position: absolute;
  bottom: rem-calc(10);
  color: $white;
  left: $grid-gutter/2;
}
// blockquote

.quote {
  border: none;
  text-align: left;
  @include breakpoint(large) {
    text-align: center;
  }

  p {
    font-size: rem-calc(22);
  }

  a {
    display: block;
    color: $gray;
    text-align: left;
    @include breakpoint (large) {
      text-align: center;
    }
  }
}
// footer

.footer-menu {
  margin-top: $grid-gutter;
  list-style: none;

  li {
    @include breakpoint(large) {
      display: inline-block;
      margin: 0 $grid-gutter/2 $grid-gutter 0;
    }
  }

  a {
    display: block;
    text-transform: uppercase;
    color: $gray;
    font-size: rem-calc(22);
  }
}
